body {
    background-color: #eceef1;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-bottom: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: border-box;
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 2px;
    width: 380px;
    border: 1px solid #c7c7c7;
}

.form-header h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1;
    text-align: center;
}

.text-center {
    text-align: center;
}

.sub-title {
    display: block;
    font-size: 1.2em;
    color:#4C4C4C;
    font-weight: 300;
    line-height: 1.2;
    padding-top: 10px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #0077C5;
    cursor: pointer;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

.form-main {
    display: flex;
    flex-direction: column;
    border: 0;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.form-main label {
    font-family: sans-serif, Arial, Helvetica;
    color: #404040;
    font-size: 1.1em;
    font-weight: normal;
    padding: 6px 0;
    margin-bottom: 10px;
}

.font-300 {
    font-weight: 300;
}

.form-main input {
    width: 100%;
    height: 35px;
    border: 1px solid #c1c5c8;
    border-radius: 3px;
    margin: 0 0 20px;
    padding: 0;
    font-size: 1.2em;
}

.submit-btn {
    display: flex;
    justify-content: center;
}

.submit-btn button {
    width: 100%;
    height: 34px;
    line-height: 1.3em;
    padding: 0 20px;
    background-color: #0077C5;
    border: 0;
    border-color: #0077C5;
    border-radius: 4px;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 300;
}

.lock-icon {
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAwCAMAAAClrpMkAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAC6UExURUdwTP///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////3HoUvYAAAA9dFJOUwCrcV0ZYP6AMaL2lhCgWMgEKPEtUX9BqCfRDVU2y9X5OsDkAQbuFePEJC7TD7Q4E4QHfDD6DLJCell9Q8cCdpKaAAABLUlEQVQ4y92V13KDMBBFsWmxKe69995Lqv7/t3KFNQnIwsvkyZP7hI6ORmIXDZr2t1x85/p1dfzLQ2vnZNktWWcXr7Um7DeTVpyWtlg4VlqtmcHkRl8aS30TLDFVWokfrbsVo22XH7Kk8AaYmLs/Q3eO8eBeqwLPpiEwnYFU77wUaDlCyiApWcsXGVuNImi0YqyYl7w+FtsSs8H6EnsHe5XYJ5gv1xisILECmFzrCpghMQOsojiLyrP/nXfYZ5AGb2YmGt7yBn/YH+DpjI4udqRiP5HXy3m5Hu116mD1DuUN10FR10PCM8OX/oG3EN6C8JrCaxJeW3htwvOE5xGedXsR0yLrXAOrJekbWKL+jrVxIu/N/Xjm7y/OOybwjvBOZ1I7n4Jr/0LFSP4f/QY7TeMSyZCaMgAAAABJRU5ErkJggg==);
    */
    background-image: url('images/lock.png');
    display: inline-block;
    height: 1em;
    width: .8em;
    background-size: contain;
    margin-top: 0px;
    margin-right: 6px;
}

.agree-text {
    color: #757575;
    font-size: 12px;
    font-style: italic;
    line-height: 1.5;
}

.form-footer {
    margin: 32px -30px -30px -30px;
    background-color: #eceef1;
    padding: 16px;
}

.form-footer span {
    color: #8d9096;
    font-size: 10px;
}

.form-footer span a {
    font-size: 10px;
}


.footer {
    padding-top: 30px;
    color: #505050;
    font-size: 12px;
    line-height: 1.7;
    font-weight: 300;
}